:root {
    --Blue: hsl(246, 80%, 60%);
    --Light-red-work: hsl(15, 100%, 70%);
    --Soft-blue-play: hsl(195, 74%, 62%);
    --Light-red-study: hsl(348, 100%, 68%);
    --Lime-green-exercise: hsl(145, 58%, 55%);
    --Violet-social: hsl(264, 64%, 52%);
    --Soft-orange-selfcare: hsl(43, 84%, 65%);
    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);
}

.section-2 .card:nth-child(1) .card-back {
    background-color: var(--Light-red-work);
}

.section-2 .card:nth-child(2) .card-back {
    background-color: var(--Soft-blue-play);
}

.section-2 .card:nth-child(3) .card-back {
    background-color: var(--Light-red-study);
}

.section-2 .card:nth-child(4) .card-back {
    background-color: var(--Lime-green-exercise);
}

.section-2 .card:nth-child(5) .card-back {
    background-color: var(--Violet-social);
}

.section-2 .card:nth-child(6) .card-back {
    background-color: var(--Soft-orange-selfcare);
}